@using Casablanca.Models.ExpenseReports;
@using Casablanca.Models.ViewModel;

@{
	ViewBag.Title = "Mes frais";
}

@model AddExpenseReportVM

<h2 class="text-left">Notes de frais</h2>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Mois</th>
				<th>Montant Total</th>
				<th>Nombre de frais</th>
				<th>Statut</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ExpenseReports)
			{
				<tr>
					<td>@item.Month @item.Year</td>
					<td>@item.TotalCost</td>
					<td>@item.NbLines</td>
					<td>
						@switch (item.Status)
						{
							case ExpenseReportStatus.UNSENT:<text>Non envoyée</text>break;
							case ExpenseReportStatus.REFUSED: <text>Refusée</text>break;
							case ExpenseReportStatus.APPROVED: <text>Approuvée</text>break;
							case ExpenseReportStatus.PENDING_APPROVAL_1: <text>En attente de première validation</text>break;
							case ExpenseReportStatus.PENDING_APPROVAL_2: <text>En attente de seconde validation</text>break;
						}
					</td>
					<td>"Un bouton ici"</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="btn-group" role="group">
	<a class="btn btn-link" role="button" href="creer-note.html">Créer une note de frais</a>
	<a class="btn btn-link" role="button" href="demande-avance.html">Demander une avance sur une note de frais</a>
	<button class="btn btn-primary" id="btnShowModal">Modifier une note de frais</button>
</div>



<!--------------------- MODAL ---------------------->
<div class="modal fade" tabindex="-1" id="loginModal"
	 data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h4 class="modal-title">Ajouter des lignes de frais</h4>
			</div>
			<div class="modal-body">
				<form>
					@Html.Partial("~/Views/ExpenseReport/AddExpenseReport.cshtml", Model.modalVM)
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary button button4">Sauvegarder les modifications</button>
				<button type="submit2" class="btn btn-primary button button4">Envoyer pour validation</button>
				<button type="button" id="btnHideModal" class="btn btn-primary button button4">
					Hide
				</button>
			</div>
		</div>
	</div>
</div>


<!--- SCRIPTS --->
@section Scripts {
	<!-- Script pour l'affichage de la fenêtre modale et du calendrier -->
	<script>
		$(document).ready(function () {
			// Implémentation de la logique des boutons de modale
			$("#btnShowModal").click(function () {
				$("#loginModal").modal('show');
			});

			$("#btnHideModal").click(function () {
				$("#loginModal").modal('hide');
			});
		});
	</script>
}