@using Casablanca.Models.ExpenseReports

@{
    ViewBag.Title = "Traiter une note de frais";
}

@model ExpenseReport

@{
    int nbEL = Model.ExpenseLines.Count;
}

@if (Model.IsAdvance)
{
    <h2 class="text-left">
        Demande d'avances du collaborateur @Model.Collaborator.FirstName  @Model.Collaborator.LastName
    </h2>
}
else
{
    <h2 class="text-left">
        Note de frais du collaborateur @Model.Collaborator.FirstName  @Model.Collaborator.LastName
    </h2>
}

@using (Html.BeginForm("ProcessCompta", "ExpenseReport", FormMethod.Post))
{
    <div class="table-responsive">
		<div id="checkboxes">

			<div style="float: right">
				Tout valider
				<input type="checkbox" id="checkall" />
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Type de frais</th>
						<th>Description</th>
						<th>Montant</th>
						<th>Mission associée</th>
						@if (!Model.IsAdvance)
						{
							<th>Date</th>
						}
						<th>Justificatif</th>
						<th>Valider</th>
					</tr>
				</thead>
				<tbody>
					@Html.HiddenFor(model => Model.Id)

					@for (int i = 0; i < nbEL; i++)
					{
					<tr>
						@Html.HiddenFor(model => Model.ExpenseLines[i].Id)
						<td>@Model.ExpenseLines[i].Type</td>
						<td>@Model.ExpenseLines[i].Description</td>
						<td>@Model.ExpenseLines[i].Cost €</td>
						<td>@Model.ExpenseLines[i].Mission.Name</td>
						@if (!Model.IsAdvance)
						{
							<td>@Model.ExpenseLines[i].Date.ToString("dd/MM/yyyy")</td>
						}
						<td><a href="~/ExpenseReport/FilePathDownload?fileName=@Model.ExpenseLines[i].Justificatory">@Model.ExpenseLines[i].Justificatory</a></td>
						<td>@Html.CheckBoxFor(model => Model.ExpenseLines[i].FinalValidation)</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
    </div>

    <button id="save-btn" type="submit" class="btn btn-primary">Terminer la validation</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                // Set the checked status of each to match the
                // checked status of the check all checkbox:
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {
            // Attach the call to toggleChecked to the
            // click event of the global checkbox:
            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });
    </script>
}
