@using Casablanca.Models.ExpenseReports;
@using Casablanca.Models.Database;
@using System.Linq;

@{
	/**/

	ViewBag.Title = "Voir une note de frais dans son intégralité";
}

@model ExpenseReport

@{
	Dal dal = new Dal();

}



<div class="container">
	<h2 class="text-left">Voir une note de frais</h2>


	@using (Html.BeginForm("UpdateExpenseReport", "ExpenseReport", FormMethod.Post))
	{
		<div id="table" class="table-editable" data-toggle="table" data-search="true">
			<table class="table">
				<thead>
					<tr>
						<th>Type de frais</th>
						<th>Description&nbsp;</th>
						<th>Montant du frais</th>
						<th>Mission associée</th>
						<th>Valideur</th>
						<th>Date du frais</th>
						<th>Justificatif</th>
						<th>Etape de validation</th>
					</tr>
				</thead>
				<tbody>
					@foreach (ExpenseLine el in Model.ExpenseLines)
					{
						<tr>
							<!--Type de frais-->
							<td>@el.Type</td>

							<!--Description du frais-->
							<td>@el.Description</td>

							<!--Montant -->
							<td>@el.Cost €</td>

							<!-- Mission -->
							<td>@el.Mission.Name</td>

							<!-- Valideur -->
							<td>@el.ChiefValidator</td>

							<!-- Date de la ligne de frais -->
							<td>@el.Date.ToString("dd/MM/yyyy")</td>

							<!-- Justificatif -->
							<td>@el.Justificatory</td>

							<td>
								@if (el.FinalValidation)
								{
									<text>Validation finale effectuée</text>
								}
								else
								{
									if (el.Validated)
									{
										<text>Validée par le chef de la mission</text>
									}
									else
									{
										<text>En attente de validation</text>
									}
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

</div>