@using Casablanca.Models.ExpenseReports

@{
	ViewBag.Title = "Traitement spécial";
}

@model ExpenseReport

@{
	int nbEL = Model.ExpenseLines.Count;
}

<h2 class="text-left">
	Note de frais du collaborateur @Model.Collaborator.FirstName  @Model.Collaborator.LastName
</h2>

@using (Html.BeginForm("OneStepProcess", "ExpenseReport", FormMethod.Post))
{
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Type de frais</th>
					<th>Description</th>
					<th>Montant</th>
					<th>Mission associée</th>
					<th>Date</th>
					<th>Justificatif</th>
					<th>Valider</th>
				</tr>
			</thead>
			<tbody>
				@Html.HiddenFor(model => Model.Id)

				@for (int i = 0; i < nbEL; i++)
				{
					<tr>
						@Html.HiddenFor(model => Model.ExpenseLines[i].Id)
						<td>@Model.ExpenseLines[i].Type</td>
						<td>@Model.ExpenseLines[i].Description</td>
						<td>@Model.ExpenseLines[i].Cost €</td>
						<td>@Model.ExpenseLines[i].Mission.Name</td>
						<td>@Model.ExpenseLines[i].Date.ToString("dd/MM/yyyy")</td>
						<td>@Model.ExpenseLines[i].Justificatory</td>
						<td>@Html.CheckBoxFor(model => Model.ExpenseLines[i].FinalValidation)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<button id="save-btn" type="submit" class="btn btn-primary">Terminer la validation</button>
}