@using Casablanca.Models.Database;
@using Casablanca.Models;


@{
	Dal dal = new Dal();
	Collaborator coll = dal.GetCollaborator(User.Identity.Name);
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" style="background-color:#1f1f2e">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
					<span class="icon-bar" style="background-color:grey"></span>
					<span class="icon-bar" style="background-color:grey"></span>
					<span class="icon-bar" style="background-color:grey"></span>
				</button>
				@Html.ActionLink("Casablanca", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:white"})
			</div>
			<!-- ADMIN -->
			@if (@User.Identity.IsAuthenticated != false)
			{
				if (coll.Role == Casablanca.Models.Roles.ADMIN)
				{
					<div class="navbar-left collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<!--<li>@Html.ActionLink("Administration", "Index", "Admin", null, new { @class = "btn", @style = "color:grey" })</li>*-->
							<li>@Html.ActionLink("Créer un compte", "CreateAccount", "Admin", null, new { @class = "btn", @style = "color:grey" })</li>
							<li>@Html.ActionLink("Liste des services", "ServicesList", "Admin", null, new { @class = "btn", @style = "color:grey" })</li>
							<li>@Html.ActionLink("Liste des collaborateurs", "CollaboratorsList", "Admin", null, new { @class = "btn", @style = "color:grey" })</li>
						</ul>
					</div>
				}
			}
			@if (@User.Identity.IsAuthenticated)
			{
				if (!HelperModel.CheckAdmin(coll))
				{
					<div class="navbar-left collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>@Html.ActionLink("Demande de congés", "Index", "Leave", null, new { @class = "btn", @style = "color:grey" })</li>
							<li>@Html.ActionLink("Notes de frais", "Index", "ExpenseReport", null, new { @class = "btn", @style = "color:grey" })</li>
							<li>@Html.ActionLink("Demande d'informations", "Contact", "Home", null, new { @class = "btn", @style = "color:grey" })</li>
						</ul>
					</div>
				}
			}
			<div class="navbar-right collapse navbar-collapse">
				<ul class="nav navbar-nav" style="float:right">
					<!-- GESTION -->
					@if (@User.Identity.IsAuthenticated)
					{
						if (HelperModel.CheckManagement(coll))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Gestion
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">

									@if (!HelperModel.CheckCompta(coll))
									{
										@Html.ActionLink("Traiter les congés", "Process", "Leave", null, new { @class = "btn", @style = "color:grey" })
									}
									<div class="dropdown-divider"></div>
									@Html.ActionLink("TODO", "TODO", "TODO", null, new { @class = "btn", @style = "color:grey" })

									@if (!HelperModel.CheckRH(coll))
									{
										<div class="dropdown-divider"></div>
										@Html.ActionLink("Traiter les notes de frais", "ProcessList", "ExpenseReport", null, new { @class = "btn", @style = "color:grey" })
									}

								</div>
							</li>
						}
					}
					<!-- PROFILE AND CONNEXION -->
					@if (@User.Identity.IsAuthenticated)
					{
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								@coll.FirstName @coll.LastName
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								@Html.ActionLink("Mon profil", "UserProfile", "Home", null, new { @class = "btn", @style = "color:grey" })
								<div class="dropdown-divider"></div>
								@Html.ActionLink("Déconnexion", "Disconnect", "Login", null, new { @class = "btn", @style = "color:grey" })
							</div>
						</li>
					}
					else
					{
						
						<li>@Html.ActionLink("Connexion", "Index", "Login", null, new { @class = "btn", @style = "color:grey" })</li>
						
					}
					</ul>
				</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Casablanca Project</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
