@using Casablanca.Models
@using Casablanca.Models.ExpenseReports
@using System.Globalization;


@{
	ViewBag.Title = "Casablanca";
}

@model Collaborator

<div class="jumbotron">

	@{
		if (@HttpContext.Current.User.Identity.IsAuthenticated != false)
		{
			<h2>Bienvenue sur l'intranet, @Model.FirstName @Model.LastName ! nous sommes le @DateTime.Now</h2>
		}
		else
		{
			<h2>Bienvenue sur Pops1819. Veuillez vous connecter !</h2>
		}
	}


</div>

<div class="row">
	<div class="col-md-4">
		@if (Model != null)
		{
			<h3>Notes de frais</h3>
			<p>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Statut</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.ExpenseReports)
							{
								<tr>
									<td>
										@HelperModel.FirstCharToUpper(DateTime.ParseExact(item.Month.ToString(), "MMMM", new CultureInfo("en-US")).ToString("MMMM"))
										@item.Year
									</td>
									<td>
										@switch (item.Status)
										{
											case ExpenseReportStatus.UNSENT:<text>Non envoyée</text>break;
										case ExpenseReportStatus.REFUSED: <text>Refusée</text>break;
									case ExpenseReportStatus.APPROVED: <text>Approuvée</text>break;
								case ExpenseReportStatus.PENDING_APPROVAL_1: <text>1e validation</text>break;
							case ExpenseReportStatus.PENDING_APPROVAL_2: <text>2nd validation</text>break;
					}
									</td>

									@*Un bouton pour accéder à la note de frais en cours*@
									<td>
										@if (item.Status == ExpenseReportStatus.UNSENT || item.Status == ExpenseReportStatus.REFUSED)
										{
											<div>
												@Html.ActionLink("Modifier", "UpdateExpenseReport", "ExpenseReport", new { id = item.Id }, null) | @Html.ActionLink("Envoyer", "SendExpenseReport", "ExpenseReport", new { id = item.Id }, null)
											</div>
										}
										else
										{
											@Html.ActionLink("Voir", "ViewExpenseReport", "ExpenseReport", new { ERId = item.Id }, null)
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

			</p>
		}
	</div>
	<div class="col-md-4">
		<h3>Ce site est vraiment très beau</h3>
		<p>En effet ! Il a été réalisé à partir du framework ASP.NET en utilisant le modèle MVC, vive la technologie !</p>
	</div>
	<div class="col-md-4">
		<h3>Notifications</h3>
		<p>
			Nous sommes actuellement en train de travailler dessus ! En effet, nous comprenons bien que le besoin principal du
			client est d'avoir un mode sombre pour soulager ses yeux, l'utilité du site n'étant qu'un critère secondaire !
		</p>
	</div>
</div>