@using Casablanca.Models

@{
	ViewBag.Title = "Profil";
}

@model Collaborator

<div class="container">

	<div class="row">

		<div class="col-sm-5">
			<h1>Profil de l'utilisateur </h1>

			<div style="padding:10px">
				<h3>Informations de base</h3>
				<div> Prénom : @Model.FirstName </div>
				<div> Nom : @Model.LastName</div>
				@if (Model.Service != null)
				{
					<div> Service : @Model.Service.Name</div>
				}
				else
				{
					<div> Service : Pas de service</div>
				}

				@if (@Model.Role == Casablanca.Models.Roles.USER)
				{
					<div> Rôle : Utilisateur</div>
				}
				else if (@Model.Role == Casablanca.Models.Roles.CHIEF)
				{
					<div> Rôle : Chef de service</div>
				}
				else if (@Model.Role == Casablanca.Models.Roles.ADMIN)
				{
					<div> Rôle : Admin</div>
				}


			</div>


			<div style="padding:10px">
				<h3>Notes de frais</h3>
				<div></div>
			</div>

			<div style="padding:10px">
				<h3>Demandes de congé</h3>
				<div></div>
			</div>


		</div>


		<div class="col-sm-5">
			<div style="padding:10px">
				<h3>Missions</h3>
				<div></div>
			</div>
		</div>

	</div>


</div>
