@using Casablanca.Models.Leaves
@using Casablanca.Models

@{
	ViewBag.Title = "Modifier une demande de congé";
}

@model Leave

<h2 class="text-left">Modifier une demande de congé </h2>


<div align="center">
	@using (Html.BeginForm("UpdateLeave", "Leave", FormMethod.Post))
	{
		<hr />
		<div>
			<div style="padding:10px">
				Description du congé

				@Html.TextBoxFor(model => model.Description, new { style = "width:500px;" })
			</div>


			<!-- Type -->
			<div style="padding:10px">
				Type du congé

				@Html.DropDownListFor(model => Model.Type,
								(LeaveType.GetValues(typeof(LeaveType))).Cast<LeaveType>().ToList().Select(type => new SelectListItem {
									Text = HelperModel.ToString(type),
									Value = type.ToString(),
									Selected = (type == Model.Type)
								}))
			</div>



			<!-- StartDate -->

			<div style="padding:10px">
				Date de début

				@Html.TextBoxFor(model => Model.StartDate,
						  new { @type = "date", @class = "form-control datepicker", @Value = Model.StartDate.ToString("dd-MM-yyyy") })

				<div>
					@Html.LabelFor(m => m.StartMorningOrAfternoon)

					Commencer le matin
					@Html.RadioButtonFor(m => m.StartMorningOrAfternoon, "Matin")

					Commencer l'après-midi
					@Html.RadioButtonFor(m => m.StartMorningOrAfternoon, "Après-midi")

				</div>
			</div>



			<!-- EndDate -->

			<div style="padding:10px">
				Date de fin

				@Html.TextBoxFor(model => Model.EndDate,
						  new { @type = "date", @class = "form-control datepicker", @Value = Model.EndDate.ToString("dd-MM-yyyy") })

				<div>
					@Html.LabelFor(m => m.EndMorningOrAfternoon)
					Terminer le matin
					@Html.RadioButtonFor(m => m.EndMorningOrAfternoon, "Matin")
					Terminer l'après-midi
					@Html.RadioButtonFor(m => m.EndMorningOrAfternoon, "Après-midi")
				</div>

			</div>






			<!-- Displaying status -->
			<div style="padding:10px">
				(DEBUG) Statut du congé

				@Html.DisplayFor(model => model.Status)
			</div>

		</div>


		<div style="padding:10px">
			<input type="submit" value="Sauvegarder" />
		</div>



		@Html.ValidationSummary("");
	}

</div>

@if (null != TempData["alertMessage"])
{
	<script type="text/javascript">

		alert("Vous n'avez pas assez de jour de congé. \nPar conséquent, le congé n'a pas pu être créé.");
	</script>
}
