@using Casablanca.Models;
@using Casablanca.Models.Database;

@{
	ViewBag.Title = "ProcessMission";
}

@model Mission


<div align="center">
	<h2>Edition d'une mission</h2>

	@using (Html.BeginForm())
	{
		<div style="padding:10px">
			<div> @Html.LabelFor(m => m.Name) </div>
			<div> @Html.TextBoxFor(m => m.Name) </div>
		</div>

		<br>


		<div style="padding:10px">
			<div> @Html.LabelFor(m => m.Status) </div>
			<div> TODO : drop down list status </div>
		</div>


		<br>

		<div style="padding:10px">
			<div>@Html.LabelFor(m => m.StartDate)</div>
			<div>
				@Html.TextBoxFor(model => Model.StartDate,
								 new { @type = "date", @class = "form-control datepicker", @Value = Model.StartDate.ToString("dd-MM-yyyy") })
			</div>
		</div>

		<div style="padding:10px">
			TODO: Make this field optional!
			<div> @Html.LabelFor(m => m.EndDate) </div>
			<div>
				@Html.TextBoxFor(model => Model.EndDate,
								 new { @type = "date", @class = "form-control datepicker", @Value = Model.EndDate.ToString("dd-MM-yyyy") })
			</div>
		</div>

		<!-- pick des collabo TODO -->
		<div>

			?????????????????????
			??????????
			?
			searchable drop down list. On click, add the selected coll to the list

			Try this : https://stackoverflow.com/a/33154580

			or this ? https://stackoverflow.com/questions/18144124/how-to-search-a-list-of-products-using-controller-by-name-or-id

		</div>


		<div style="padding:10px">
			<input type="submit" value="Sauvegarder" />
		</div>

		@Html.ValidationSummary("");
	}
</div>

@section Scripts{
	<script>
	</script>
}
