@using Casablanca.Models

@{
    ViewBag.Title = "Admin - List Collaborators";
}

@model  List<Collaborator>

<!-- Bootstrap Table Style -->
@Styles.Render("//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css")

<h2>Admin/Liste des Collaborateurs</h2>

<table id="coll_list"
       data-toggle="table"
       data-search="true"
       class="table">
    @if (Model.Count() == 0) {
        <tr>
            <td colspan="10">Aucun collaborateur trouvé.</td>
        </tr>
    }
    else {
        <thead>
            <tr>
                <th scope="col" data-field="select" data-sortable="true">Sélectionner ?</th>

                <th scope="col" data-field="prenom" data-sortable="true">Prénom</th>
                <th scope="col" data-field="nom" data-sortable="true">Nom</th>
                <th scope="col" data-field="service" data-sortable="true">Service</th>
                <th scope="col" data-field="mission" data-sortable="true">Mission</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>Insérer checkbox ici ici ?</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    @if (item.Service != null) {
                        <td>@item.Service.ServiceName</td>
                    }
                    else {
                        <td>Aucun service</td>
                    }

                    <td>
                        @if (item.Missions.Count != 0) {

                            foreach (var mission in item.Missions) {
                                @mission.Name <text> ,</text>
                            }

                        }
                        else {
                            <text>Aucune mission</text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

<!--- SCRIPTS --->
@section Scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#coll_list').DataTable();

            $('#coll_list tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                console.log("HE");
            });
        });
    </script>
}
