@using Casablanca.Models.ViewModel
@using Casablanca.Models

@model Collaborator

@{
	ViewBag.Title = "Admin - Créer un compte";
}

<div align="center">
    <h2>Créer un compte</h2>
    @using (Html.BeginForm()) {
        <div style="padding:10px">
            <div> @Html.LabelFor(m => m.FirstName) </div>
            <div> @Html.TextBoxFor(m => m.FirstName) </div>
        </div>
        <div style="padding:10px">
            <div>@Html.LabelFor(m => m.LastName)</div>
            <div>@Html.TextBoxFor(m => m.LastName)</div>
        </div>

        <div style="padding:10px">
            <div> @Html.LabelFor(m => m.Login) </div>
            <div> @Html.TextBoxFor(m => m.Login) </div>
        </div>
        <div style="padding:10px">
            <div>@Html.LabelFor(m => m.Password)</div>
            <div>@Html.PasswordFor(m => m.Password)</div>
        </div>

        <div style="padding:10px">
            <input class="btn btn-primary" type="submit" value="Créer le compte" />
        </div>

        @Html.ValidationSummary("");
    }
</div>
